# Server Configuration
PORT=3001
NODE_ENV=development

# Database Configuration (MySQL)
DB_HOST=localhost
DB_PORT=3307
DB_USER=root
DB_PASSWORD=your_password
DB_NAME=email_scheduler

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# BullMQ Configuration
WORKER_CONCURRENCY=5
MIN_DELAY_BETWEEN_EMAILS=2000
MAX_EMAILS_PER_HOUR=200

# Ethereal Email Configuration (Get from https://ethereal.email/)
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_USER=oren.tromp@ethereal.email
SMTP_PASSWORD=5QywB56b8REKurxXyK

# Google OAuth Configuration
GOOGLE_CLIENT_ID=1019817680733-d8i1f421bguec3j17mf4n37u6mlclou4.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_CALLBACK_URL=http://localhost:3001/auth/google/callback

# Session Configuration
SESSION_SECRET=your_very_long_random_session_secret_string_here

# Frontend URL
FRONTEND_URL=http://localhost:3000
